body {
    /* Image source for courtesy: 
    * https://safebooru.org//images/2078/5f79e9e3ba1f2c8a3e52adf30cf1857ac0abb256.jpg?2166293
    * I modified it and flipped it 180˚ so it would display properly
    */
    background-image: url("/repos/git_test/odin-links-and-images/images/yes-chef.png");
    background-color: unset;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-position: right;
    background-position-y: 120px !important;
    background-size: 20%;
    width: 97.5%;
}

.header__nav {
    height: 15px;
    padding: 0px;
    float: right;
    margin-bottom: 10px;
}

.ingredients__section__ingredients {
    margin-left: 200px;
}

.ingredients__section__steps {
    margin-left: 200px;
}

.ingredients__section {
    display: inline-flex; 
    flex-direction: 
    row; width: 100%; 
    margin-top: 0px;
}

#portal {
    max-width: 200px;
}

